DerivedData/*
build/*
Passcode.xcodeproj/project.xcworkspace/xcuserdata/*
Passcode.xcodeproj/xcuserdata/*
Passcode.xcodeproj/project.xcworkspace/xcuserdata/Matt.xcuserdatad/UserInterfaceState.xcuserstate
